<p>home works!</p>


<div class="card">
  <div class="card-body">
    <h5 class="card-title">Your friends</h5>

    <!-- List group  -->
    <div class="list-group">
      <div *ngFor="let user of userList$|async" class="d-flex mt-2">
        <a routerLink="/user/{{user._id}}"
           class="list-group-item list-group-item-action d-flex"
           aria-current="true">
          <div style="width: 20%">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBs5uKF5Khva20-m_ehhfIgIOHNqiG4XlUEw&usqp=CAU"
              style="border-radius: 50px" alt="..." width="100"
              height="100">
          </div>
          <div style="width: 80%">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{user.email}} </h5>
              <small>{{user.createdAt}}</small>
            </div>
            <p class="mb-1">Full name is: {{user.firstName}} {{user.lastName}}</p>
          </div>

        </a>
      </div>


    </div><!-- End List group Advanced Content -->

  </div>
</div>


